{
  "minimum-stability": "dev",
  "prefer-stable": true,
  "require": {
    "composer/installers": "^1.5.0",
    "drupal/core": "${DRUPAL}",
    "drupal/core-composer-scaffold": "${DRUPAL}",
    "drupal/pathauto": "*",
    "drupal/rdf_entity": "*",
    "drupal/token": "*",
    "drush/drush": "~10",
    "easyrdf/easyrdf": "1.0.0 as 0.9.2",
    "ml/json-ld": "^1.0"
  },
  "require-dev": {
    "behat/mink-goutte-driver": "~1.2",
    "mikey179/vfsstream": "~1.2",
    "minimaxir/big-list-of-naughty-strings": "dev-master",
    "mglaman/phpstan-drupal": "^0.12.6",
    "phpstan/phpstan-deprecation-rules": "^0.12.5",
    "phpunit/phpunit": "${PHPUNIT}"
  },
  "repositories": [
    {
      "type": "github",
      "url": "https://github.com/ec-europa/sparql_entity_storage.git",
      "no-api": true
    },
    {
      "type": "path",
      "url": "${TRAVIS_BUILD_DIR}"
    },
    {
      "type": "package",
      "package": {
        "name": "minimaxir/big-list-of-naughty-strings",
        "version": "dev-master",
        "dist": {
          "url": "https://github.com/minimaxir/big-list-of-naughty-strings/archive/master.zip",
          "type": "zip"
        }
      }
    },
    {
      "type": "composer",
      "url": "https://packages.drupal.org/8"
    }
  ],
  "extra": {
    "installer-paths": {
      "web/core": ["type:drupal-core"],
      "web/modules/{$name}": ["type:drupal-module"]
    },
    "drupal-scaffold": {
      "locations": {
        "web-root": "web/"
      }
    }
  }
}
