language: php

php:
  - 7.1
#  - 7.2

sudo: false

mysql:
  database: rdf_entity_test
  username: root
  encoding: utf8

env:
#  - TEST=PHP_CodeSniffer
  - TEST=PHPUnit
  global:
    - BUILD_DIR="$HOME/build/drupal"

matrix:
  fast_finish: true
  exclude:
    - php: 7.2
      env: TEST=PHP_CodeSniffer

before_install:
  - composer --verbose self-update
  - export BUILD_DIR="$HOME/build/drupal"
  - mkdir ${BUILD_DIR}
  - cd ${BUILD_DIR}
  - composer require drupal/drupal:"^8.5"
  - mysql -e 'CREATE DATABASE rdf_entity_test'

install:
  - pwd
  - ls -al ${BUILD_DIR}

notifications:
  email: false
