language: php

php:
  - 7.1
  - 7.2

sudo: false

mysql:
  database: rdf_entity_test
  username: root
  encoding: utf8

env:
  - TEST=PHP_CodeSniffer
  - TEST=PHPUnit

matrix:
  fast_finish: true
  exclude:
    - php: 7.2
      env: TEST=PHP_CodeSniffer

before_install:
  - composer --verbose self-update
  - mysql -e 'CREATE DATABASE rdf_entity_test'

install:
  - ls -al $HOME

notifications:
  email: false
