language: php

php:
  - 7.1
#  - 7.2

sudo: false

mysql:
  database: rdf_entity_test
  username: root
  encoding: utf8

env:
#  - TEST=PHP_CodeSniffer
  - TEST=PHPUnit

#services:
#  - docker

matrix:
  fast_finish: true
  exclude:
    - php: 7.2
      env: TEST=PHP_CodeSniffer


before_install:
  # Build the codebase.
  - composer --verbose self-update
  - export TESTING_SITE_DIR="$HOME/build/testing_site"
  - mkdir -p ${TESTING_SITE_DIR}/web/modules
  - cp ./tests/fixtures/travis-ci/composer.json.dist ${TESTING_SITE_DIR}/composer.json
  - cd ${TESTING_SITE_DIR}
  - sed -i -e 's/TRAVIS_BUILD_DIR/'"${TRAVIS_BUILD_DIR}"'/g' composer.json
  - cat composer.json
  - composer install --no-interaction
#  - mkdir -p -m 0755 ${TESTING_SITE_DIR}/web/sites/default/files
#  - ln -s ${TRAVIS_BUILD_DIR} ${TESTING_SITE_DIR}/web/modules/
  # Create the MySQL database.
  - mysql -e 'CREATE DATABASE rdf_entity_test'
  # Virtuoso setup.
  - mkdir ${TESTING_SITE_DIR}/virtuoso
  - docker run --name my-virtuoso -p 8890:8890 -p 1111:1111 -e SPARQL_UPDATE=true -v ${TESTING_SITE_DIR}/virtuoso:/data -d tenforce/virtuoso

  # remove
  - whoami
  - export
  - pwd
  - ls -al ${TESTING_SITE_DIR}
  - ls -al ${TESTING_SITE_DIR}/virtuoso
  - ls -al ${TESTING_SITE_DIR}/web
  - ls -al ${TESTING_SITE_DIR}/web/modules
  - ls -al ${TESTING_SITE_DIR}/web/modules/rdf_entity/

install:
  - ./vendor/bin/drush site:install testing --yes --root=${TESTING_SITE_DIR}/web --db-url=mysql://root:@127.0.0.1/rdf_entity_test
  - chmod 0775 ${TESTING_SITE_DIR}/web/sites/default/settings.php
  - cat ${TRAVIS_BUILD_DIR}/tests/fixtures/travis-ci/connection.txt >> ${TESTING_SITE_DIR}/web/sites/default/settings.php
  - ./vendor/bin/drush pm:enable rdf_entity --yes --root=${TESTING_SITE_DIR}/web

notifications:
  email: false
