language: php

php:
  - 7.1
#  - 7.2

sudo: false

mysql:
  database: rdf_entity_test
  username: root
  encoding: utf8

env:
#  - TEST=PHP_CodeSniffer
  - TEST=PHPUnit

matrix:
  fast_finish: true
  exclude:
    - php: 7.2
      env: TEST=PHP_CodeSniffer


before_install:
  - composer --verbose self-update
  - export
  - export PROJECT_DIR="$HOME/build/project"
  - mkdir ${PROJECT_DIR}
  - cd ${PROJECT_DIR}
  - composer require drupal/drupal:"^8"
  - composer require drush/drush:"^9"
  - mv ${PROJECT_DIR}/vendor/drupal/drupal ${PROJECT_DIR}/web
  - ln -s ${TRAVIS_PROJECT_DIR} ${PROJECT_DIR}/web/modules/
  - mysql -e 'CREATE DATABASE rdf_entity_test'

install:
  - ./vendor/bin/drush -vvv --yes site:install testing --db-url=mysql://root:@127.0.0.1/rdf_entity_test
  - ./vendor/bin/drush --yes pm:enable rdf_entity
  - pwd
  - ls -al ${PROJECT_DIR}
  - ls -al ${PROJECT_DIR}/web
  - ls -al ${PROJECT_DIR}/web/modules
  - ls -al ${PROJECT_DIR}/web/modules/rdf_entity/

notifications:
  email: false
