language: php

php:
  - 7.1
#  - 7.2

sudo: false

mysql:
  database: rdf_entity_test
  username: root
  encoding: utf8

env:
#  - TEST=PHP_CodeSniffer
  - TEST=PHPUnit

matrix:
  fast_finish: true
  exclude:
    - php: 7.2
      env: TEST=PHP_CodeSniffer


before_install:
  - composer --verbose self-update
  - export
  - export BUILD_DIR="$HOME/build/drupal"
  - mkdir ${BUILD_DIR}
  - cp ./tests/fixtures/travis-ci/composer.json ${BUILD_DIR}
  - cd ${BUILD_DIR}
  - composer install --no-interaction
  - mysql -e 'CREATE DATABASE rdf_entity_test'

install:
  - pwd
  - ls -al ${BUILD_DIR}
  - ls -al ${BUILD_DIR}/vendor

notifications:
  email: false
