language: php

php:
  - 7.1
  - 7.2

sudo: false

mysql:
  database: rdf_entity_test
  username: root
  encoding: utf8

env:
  global:
    - SITE_DIR="$HOME/build/testing_site"
  matrix:
    - TEST=PHP_CodeSniffer
    - TEST=PHPUnit

matrix:
  fast_finish: true
  exclude:
    - php: 7.2
      env: TEST=PHP_CodeSniffer

before_install:
  # Deploy the codebase.
  - composer --verbose self-update
  - mkdir -p ${SITE_DIR}/web/modules
  - cp ./tests/travis-ci/fixtures/composer.json.dist ${SITE_DIR}/composer.json
  - cp ./tests/travis-ci/fixtures/phpunit.xml.dist ${SITE_DIR}/web/phpunit.xml
  - cd ${SITE_DIR}
  - sed -i -e 's#\$TRAVIS_BUILD_DIR#'${TRAVIS_BUILD_DIR}'#g' composer.json
  - composer install --no-interaction

  # Virtuoso setup.
  - mkdir ${SITE_DIR}/virtuoso
  - docker run --name virtuoso -p 8890:8890 -p 1111:1111 -e SPARQL_UPDATE=true -v ${SITE_DIR}/virtuoso:/data -d tenforce/virtuoso

script: ${SITE_DIR}/web/modules/rdf_entity/tests/travis-ci/scripts/run_tests ${TEST}

notifications:
  email: false
