language: php

php:
  - 7.1
#  - 7.2

sudo: false

mysql:
  database: rdf_entity_test
  username: root
  encoding: utf8

env:
#  - TEST=PHP_CodeSniffer
  - TEST=PHPUnit

matrix:
  fast_finish: true
  exclude:
    - php: 7.2
      env: TEST=PHP_CodeSniffer


before_install:
  - composer --verbose self-update
  - export PROJECT_DIR="$HOME/build/project"
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - mkdir ${PROJECT_DIR}
  - cp ./tests/fixtures/travis-ci/composer.json.dist ${PROJECT_DIR}/composer.json
  - cd ${PROJECT_DIR}
#  - composer require drupal/drupal:"^8"
#  - composer global require drush/drush:"^9"
  - composer install --no-interaction
  - mv ${PROJECT_DIR}/vendor/drupal/drupal ${PROJECT_DIR}/web
  - mkdir -p -m 0755 ${PROJECT_DIR}/web/sites/default/files
  - ln -s ${TRAVIS_PROJECT_DIR} ${PROJECT_DIR}/web/modules/
  - mysql -e 'CREATE DATABASE rdf_entity_test'
# remove
  - whoami
  - export
  - pwd
  - ls -al ${PROJECT_DIR}
  - ls -al ${PROJECT_DIR}/web
  - ls -al ${PROJECT_DIR}/web/modules
  - ls -al ${PROJECT_DIR}/web/modules/rdf_entity/

install:
  - ./vendor/bin/drush -vvv --yes --root=${PROJECT_DIR}/web site:install testing --db-url=mysql://root:@127.0.0.1/rdf_entity_test
  - ./vendor/bin/drush -vvv --yes --root=${PROJECT_DIR}/web pm:enable rdf_entity

notifications:
  email: false
