language: php

php:
  - 7.1
#  - 7.2

sudo: false

mysql:
  database: rdf_entity_test
  username: root
  encoding: utf8

env:
  - TEST=PHP_CodeSniffer
  - TEST=PHPUnit

matrix:
  fast_finish: true
  exclude:
    - php: 7.2
      env: TEST=PHP_CodeSniffer

before_install:
  # Deploy the codebase.
  - composer --verbose self-update
  - export TESTING_SITE_DIR="$HOME/build/testing_site"
  - mkdir -p ${TESTING_SITE_DIR}/web/modules
  - cp ./tests/travis-ci/fixtures/composer.json.dist ${TESTING_SITE_DIR}/composer.json
  - cp ./tests/travis-ci/fixtures/phpunit.xml.dist ${TESTING_SITE_DIR}/web/phpunit.xml
  - cd ${TESTING_SITE_DIR}
  - sed -i -e 's#\$TRAVIS_BUILD_DIR#'${TRAVIS_BUILD_DIR}'#g' composer.json
  - composer install --no-interaction

script: ${TESTING_SITE_DIR}/web/modules/rdf_entity/tests/travis-ci/scripts/run_tests ${TEST}

notifications:
  email: false
